/.Xauthority
/.accelerometer.py.swp
/.adx134x.py.swp
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.cups
/.dotnet
/.lesshst
/.lgd-nfy0
/.local
/.pki
/.profile
/.python_history
/.ssh
/.sudo_as_admin_successful
/.vim
/.viminfo
/.vnc
/.vscode-server
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Bonnie.2175
/Bookshelf
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/accelerometer
/aclrometer
/bin
/env
/include
/ir_rsa_rpi.pub
/lib
/pm_laptop_wsl.pub
/pyvenv.cfg
/raspi-blinka.py.1
/lib64